.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.login-box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

.login-box input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.login-box button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.error {
  background: #ffbaba;
  color: #b00000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  text-align: center;
}